<footer>
  <div class="container">
    <div class="brand">
      <img src='<%= Routes.static_path(@conn, "/images/logo-light.png") %>' alt="Less Imapct logo" height="40" />
      <span>Less Impact</span>
    </div>
    <div>
      <a href="https://twitter.com/intent/follow?screen_name=less_impact"
        target="_blank" rel="noreferrer nofollow" class="btn twitter-button">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 310 310"
            xml:space="preserve">
          <g id="XMLID_826_">
            <path id="XMLID_827_" d="M302.973,57.388c-4.87,2.16-9.877,3.983-14.993,5.463c6.057-6.85,10.675-14.91,13.494-23.73
              c0.632-1.977-0.023-4.141-1.648-5.434c-1.623-1.294-3.878-1.449-5.665-0.39c-10.865,6.444-22.587,11.075-34.878,13.783
              c-12.381-12.098-29.197-18.983-46.581-18.983c-36.695,0-66.549,29.853-66.549,66.547c0,2.89,0.183,5.764,0.545,8.598
              C101.163,99.244,58.83,76.863,29.76,41.204c-1.036-1.271-2.632-1.956-4.266-1.825c-1.635,0.128-3.104,1.05-3.93,2.467
              c-5.896,10.117-9.013,21.688-9.013,33.461c0,16.035,5.725,31.249,15.838,43.137c-3.075-1.065-6.059-2.396-8.907-3.977
              c-1.529-0.851-3.395-0.838-4.914,0.033c-1.52,0.871-2.473,2.473-2.513,4.224c-0.007,0.295-0.007,0.59-0.007,0.889
              c0,23.935,12.882,45.484,32.577,57.229c-1.692-0.169-3.383-0.414-5.063-0.735c-1.732-0.331-3.513,0.276-4.681,1.597
              c-1.17,1.32-1.557,3.16-1.018,4.84c7.29,22.76,26.059,39.501,48.749,44.605c-18.819,11.787-40.34,17.961-62.932,17.961
              c-4.714,0-9.455-0.277-14.095-0.826c-2.305-0.274-4.509,1.087-5.294,3.279c-0.785,2.193,0.047,4.638,2.008,5.895
              c29.023,18.609,62.582,28.445,97.047,28.445c67.754,0,110.139-31.95,133.764-58.753c29.46-33.421,46.356-77.658,46.356-121.367
              c0-1.826-0.028-3.67-0.084-5.508c11.623-8.757,21.63-19.355,29.773-31.536c1.237-1.85,1.103-4.295-0.33-5.998
              C307.394,57.037,305.009,56.486,302.973,57.388z"/>
          </g>
        </svg>
        <div>
          Follow @less_impact
        </div>
      </a>
      <a
        href="https://gitlab.com/okconnect/less-impact" class="gitlab">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 865 784" style="enable-background:new 0 0 865 784;" xml:space="preserve">
          <g id="logo_art">
            <g>
              <g>
                <path id="path14_11_" class="st12" d="M439.246,496.833h-21.8l0.1,162.5h88.3v-20.1h-66.5L439.246,496.833L439.246,496.833z"/>
                <g id="g24_11_" transform="translate(977.327440, 143.284396)">
                  <path id="path26_11_" class="st12" d="M-387.454,487.533c-5.5,5.7-14.6,11.4-27,11.4c-16.6,0-23.3-8.2-23.3-18.9
                    c0-16.1,11.2-23.8,35-23.8c4.5,0,11.7,0.5,15.4,1.2v30.1H-387.454z M-410.054,389.033c-17.6,0-33.8,6.2-46.4,16.7l7.7,13.4
                    c8.9-5.2,19.8-10.4,35.5-10.4c17.9,0,25.8,9.2,25.8,24.6v7.9c-3.5-0.7-10.7-1.2-15.1-1.2c-38.2,0-57.6,13.4-57.6,41.4
                    c0,25.1,15.4,37.7,38.7,37.7c15.7,0,30.8-7.2,36-18.9l4,15.9h15.4v-83.2C-366.154,406.633-377.554,389.033-410.054,389.033
                    L-410.054,389.033z"/>
                </g>
                <g id="g28_11_" transform="translate(1099.766904, 143.128930)">
                  <path id="path30_11_" class="st12" d="M-418.154,499.833c-8.2,0-15.4-1-20.8-3.5v-67.3v-7.8c7.4-6.2,16.6-10.7,28.3-10.7
                    c21.1,0,29.2,14.9,29.2,39C-381.454,483.733-394.554,499.833-418.154,499.833 M-408.954,389.233c-19.5,0-30,13.3-30,13.3v-21
                    l-0.1-27.8h-9.8h-11.5l0.1,158.5c10.7,4.5,25.3,6.9,41.2,6.9c40.7,0,60.3-26,60.3-70.9
                    C-358.854,412.733-376.954,389.233-408.954,389.233"/>
                </g>
                <g id="g32_11_" transform="translate(584.042117, 143.630796)">
                  <path id="path34_11_" class="st12" d="M-382.154,370.833c19.3,0,31.8,6.4,39.9,12.9l9.4-16.3c-12.7-11.2-29.9-17.2-48.3-17.2
                    c-46.4,0-78.9,28.3-78.9,85.4c0,59.8,35.1,83.1,75.2,83.1c20.1,0,37.2-4.7,48.4-9.4l-0.5-63.9v-7.5v-12.6h-59.5v20.1h38
                    l0.5,48.5c-5,2.5-13.6,4.5-25.3,4.5c-32.2,0-53.8-20.3-53.8-63C-437.154,391.933-414.854,370.833-382.154,370.833"/>
                </g>
                <g id="g36_11_" transform="translate(793.569045, 142.577463)">
                  <path id="path38_11_" class="st12" d="M-438.154,354.233h-21.3l0.1,27.3v11.2v6.5v11.4v65v0.2c0,26.3,11.4,43.9,43.9,43.9
                    c4.5,0,8.9-0.4,13.1-1.2v-19.1c-3.1,0.5-6.4,0.7-9.9,0.7c-17.9,0-25.8-9.2-25.8-24.6v-65h35.7v-17.8h-35.7L-438.154,354.233
                    L-438.154,354.233z"/>
                </g>
                <path id="path40_37_" class="st12" d="M279.946,659.333h21.3v-124h-21.3V659.333L279.946,659.333z"/>
                <path id="path42_11_" class="st12" d="M279.946,518.233h21.3v-21.3h-21.3V518.233L279.946,518.233z"/>
              </g>
              <path class="st12" d="M599.02,297.811l-17.839-54.94c0.008,0.024,0.011,0.05,0.019,0.075c-0.009-0.028-0.014-0.058-0.022-0.086
                c-0.001-0.002-0.001-0.003-0.001-0.005c0-0.001,0-0.002,0-0.002l-35.413-109.026c-1.937-5.744-7.268-9.598-13.378-9.551
                c-6.128,0.032-11.313,3.812-13.209,9.635l-33.614,103.487H379.499l-33.677-103.493c-1.894-5.817-7.078-9.597-13.207-9.629
                c-0.025,0-0.049,0-0.074,0c-6.034,0-11.375,3.831-13.333,9.639l-35.316,108.928l-0.005,0.014c0,0.001,0,0.002,0,0.003
                c-0.009,0.027-0.013,0.055-0.022,0.083c0.008-0.025,0.011-0.051,0.019-0.075l-17.904,54.944
                c-2.693,8.294,0.229,17.308,7.275,22.433L427.85,432.569c0.023,0.017,0.048,0.027,0.071,0.043c0.066,0.047,0.131,0.096,0.198,0.14
                c-0.064-0.042-0.123-0.089-0.185-0.133c0,0,0-0.001-0.001-0.001c0.01,0.007,0.022,0.013,0.032,0.02
                c0.009,0.006,0.018,0.01,0.027,0.016c0.001,0.001,0.002,0.002,0.004,0.003c0.239,0.166,0.487,0.319,0.744,0.458
                c0.036,0.019,0.068,0.045,0.103,0.064c0.001,0,0.001,0.001,0.002,0.001c0.022,0.011,0.042,0.024,0.064,0.035
                c0.016,0.008,0.034,0.013,0.05,0.021c0.012,0.006,0.025,0.009,0.036,0.015c0.029,0.014,0.06,0.023,0.089,0.037
                c0.135,0.065,0.276,0.116,0.414,0.173c0.13,0.053,0.255,0.116,0.388,0.162c0.006,0.002,0.011,0.005,0.016,0.007
                c0.022,0.008,0.042,0.019,0.064,0.027c0.028,0.009,0.055,0.021,0.083,0.03c0.011,0.003,0.022,0.005,0.033,0.008
                c0.035,0.011,0.072,0.015,0.107,0.026c0.013,0.004,0.028,0.006,0.041,0.01c0.186,0.056,0.378,0.097,0.57,0.139
                c0.075,0.017,0.148,0.04,0.223,0.054c0.011,0.002,0.021,0.006,0.032,0.008c0.025,0.005,0.048,0.014,0.073,0.018
                c0.041,0.007,0.08,0.019,0.121,0.026c0.032,0.005,0.067,0.003,0.099,0.008c0.006,0.001,0.011,0,0.016,0.001
                c0.002,0,0.003,0,0.005,0c0.365,0.052,0.734,0.089,1.111,0.089c0.002,0,0.004,0,0.007,0l0,0c0.001,0,0.002,0,0.002,0
                c0,0,0.001,0,0.001,0c0.001,0,0.002,0,0.003,0c0.377,0,0.748-0.037,1.113-0.089c0.001,0,0.003,0,0.004,0
                c0.006-0.001,0.012,0,0.017-0.001c0.033-0.005,0.067-0.003,0.099-0.008c0.042-0.007,0.081-0.019,0.122-0.026
                c0.025-0.004,0.048-0.013,0.072-0.018c0.011-0.002,0.021-0.006,0.032-0.008c0.077-0.014,0.152-0.038,0.228-0.055
                c0.189-0.042,0.379-0.082,0.564-0.138c0.013-0.004,0.026-0.005,0.038-0.009c0.036-0.011,0.074-0.016,0.111-0.027
                c0.011-0.004,0.023-0.005,0.033-0.008c0.028-0.009,0.056-0.021,0.084-0.03c0.022-0.007,0.042-0.019,0.063-0.026
                c0.006-0.002,0.011-0.005,0.016-0.007c0.14-0.049,0.273-0.115,0.41-0.171c0.128-0.053,0.258-0.101,0.383-0.16
                c0.03-0.014,0.063-0.024,0.093-0.039c0.012-0.006,0.026-0.01,0.038-0.016c0.016-0.008,0.035-0.013,0.051-0.021
                c0.023-0.012,0.044-0.025,0.067-0.037c0,0,0.001,0,0.001-0.001c0.037-0.019,0.069-0.045,0.106-0.065
                c0.255-0.138,0.502-0.29,0.74-0.455c0.019-0.013,0.041-0.023,0.06-0.037c0.005-0.004,0.011-0.006,0.015-0.01
                c0.023-0.016,0.049-0.028,0.072-0.044l154.619-112.327C598.791,315.12,601.713,306.106,599.02,297.811z M532.483,144.042
                l30.323,93.357H502.16L532.483,144.042z M557.496,253.184l-12.373,15.854l-91.26,116.931l43.169-132.785H557.496z
                M424.983,428.623C424.983,428.623,424.983,428.623,424.983,428.623c0.008,0.024,0.021,0.046,0.029,0.07
                C425.004,428.669,424.991,428.647,424.983,428.623z M411.138,385.977L307.562,253.184l0,0h60.468L411.138,385.977z
                M332.519,144.041l30.379,93.358h-60.646L332.519,144.041z M282.536,307.476c-1.499-1.09-2.119-3.015-1.545-4.781l13.31-40.844
                l97.522,125.03L282.536,307.476z M427.578,432.362c-0.031-0.024-0.06-0.052-0.09-0.077c-0.006-0.005-0.012-0.011-0.018-0.017
                c-0.059-0.049-0.117-0.1-0.175-0.151c-0.112-0.098-0.223-0.198-0.33-0.302c0.009,0.008,0.019,0.015,0.028,0.023
                c0.012,0.011,0.025,0.02,0.036,0.031c0.226,0.217,0.464,0.42,0.713,0.608c0.003,0.002,0.005,0.005,0.008,0.007
                c0.012,0.009,0.022,0.02,0.034,0.029C427.716,432.462,427.644,432.415,427.578,432.362z M432.495,400.637l-25.366-78.139
                l-22.501-69.314h95.805L432.495,400.637z M437.686,432.116c-0.059,0.051-0.117,0.103-0.177,0.152
                c-0.007,0.006-0.014,0.013-0.021,0.019c-0.03,0.025-0.059,0.052-0.089,0.076c-0.066,0.052-0.137,0.099-0.204,0.15
                c0.012-0.009,0.022-0.02,0.034-0.029c0.002-0.002,0.004-0.004,0.006-0.006c0.249-0.187,0.486-0.39,0.711-0.605
                c0.009-0.009,0.02-0.015,0.028-0.024c0.012-0.011,0.025-0.019,0.036-0.03C437.906,431.921,437.797,432.019,437.686,432.116z
                M582.466,307.473l-109.271,79.382L570.75,261.86l13.256,40.826C584.581,304.461,583.962,306.386,582.466,307.473z"/>
            </g>
          </g>
        </svg>
      </a>
    </div>
  </div>
</footer>
