/* This file is for your main application css. */

@import "../node_modules/nprogress/nprogress.css";

// @import "custom";
@import "~bootstrap/scss/bootstrap";

@import "partials/_phx.css";
@import "lessimpact.scss";
@import "partials/_common.scss";
@import "partials/_navbar.scss";
@import "partials/_footer.scss";
@import "partials/_home.scss";
@import "partials/_md_page.scss";

/*
  leave at the end. This, together with the line just below the opening 
  <html> tag in root.html.leex prevent the FOUC
*/
html {
  visibility: visible;
  opacity: 1;
}
