html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#nprogress .spinner {
  top: 48%;
  left: 48%;
}

div[data-phx-main="true"] {
  height: 100%;
}

/* Alerts and form errors */
.alert {
  position: relative;

  &:empty {
    display: none;
  }  
}
.alert-close {
  &::after {
    position: absolute;
    content: '\2715';
    font-family: sans-serif;
    font-size: 16px;
    color: gray;
    top: 5px;
    right: 10px;
  }
}

iframe[hidden] {
  display: none;
}
