.twitter-button {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: white;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #60A5FA;
  padding: 0.5rem 1rem;

  &:hover {
    color: $gray-200;
    background-color: darken($color: #60A5FA, $amount: 10);
  }

  svg { 
    height: 30px;
    fill: currentColor;
  }
}
