footer {
  background-color: #065F46;
  border-top: 1px solid #157A34;
  padding: 3rem 0 6rem;

  svg {
    color: white;
    fill: currentColor;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 5rem;

    @include media-breakpoint-up(lg) {
      justify-content: space-between;
      flex-direction: row;
    }

    .brand {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      color: white;
      font-weight: 600;
      font-size: 22px;

      span {
        padding-top: 8px;
      }
    }

    .gitlab {
      padding-top: 2rem;
      display: block;

      @include media-breakpoint-up(lg) {
        text-align: right;
      }
  
      svg {
        height: 60px;
      }
    }
  }
}