.homepage {
  background: url(/images/green-forest.svg) no-repeat center center; 
  background-size: cover;

  .container {
    padding: 3rem 1.5rem 40rem;
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
      max-width: 67%;
    }
  }

  h1 {
    font-weight: 600;
    color: $gray-700;

    span {
      color: #047857;
    }
  }

  h2 {
    font-weight: 400;
  }

  .homepage-intro {
    font-size: 1.1rem;
    border-bottom: 1px solid $gray-400;
    padding-bottom: 2rem;
  }

  .calculator {
    padding-top: 3rem;

    h2 {
      color: #047857;
    }

    h3 {
      font-size: 1.25rem;
    }

    .calculator-form {
      padding: 2rem;
      background-color: #EFF6FFCC;
      border-radius: 8px;

      .form-control {
        font-size: 1.25rem;
      }

      .twitter-button {
        margin: 0 auto;
      }
    }

    .calculator-results {
      margin: 0 auto 2rem;
      padding-top: 2rem;
      max-width: 400px;
      font-size: 1.25rem;

      .results-title {
        background-color: #FBBF24;
        font-weight: bold;
        padding: 0.5rem 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
      }
      
      .results-body {
        background-color: #FEF3C7;
        padding: 1rem 0;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;

        span { font-weight: bold; }
      }

    }

  }
}