.navbar {
  .nav-brand {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #575656;

    &:hover {
      color: #575656;
    }

    img {
      height: 36px;
    }

    .navbar-brand_name {
      font-size: 1.5rem;
      font-weight: 600;
      padding-left: 0.5rem;
      padding-right: 3rem;
      margin-top: 2px;
    }
  }

  .nav-item {
    .nav-link {
      color: $gray-700;
      font-weight: 700;
      font-size: 1.1rem;
      padding: 0.5rem 1rem;
      border-radius: 6px;

      &:hover {
        color: $gray-100;
        background-color: $gray-700;
      }
    }
  }

  .navbar-collapse.show {
    margin-top: 0.5rem;
    border-bottom: 1px solid $gray-400;
  }
}